<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>

    #photo {
      height: 250px;
    }

    </style>
  </head>

  <body>

    <%= link_to "Home", root_path %>

    <%= link_to "About", about_path %>

    <%= link_to "All Comments", comments_path %>

    <%= link_to "New Comment", new_comment_path %>

    <% if user_signed_in? %>
    Welcome <%= link_to current_user.full_name, users_path %>
    <%= link_to "Sign Out", sessions_path, method: :delete %>

  <% else %>
    <%= link_to 'Sign Up', new_user_path %>

    <%= link_to "Sign In", new_session_path %>

  <% end %>

  <hr>

  <div class="flash-message">
    <%= flash[:notice] || flash[:alert] %>
  </div>

    <%= yield %>

  </body>
</html>
